# When running locally or in testing mode, rename the file to ".env".
# Define the openai and deepl keys if they are not in the environment variables, you can define multiple keys for each service, split by double commas
#deepl_key=your_first_key,,your_second_key
#openai_key=your_first_key,,your_second_key

openai_system_prompt=You are a helpful assistant that translates a HTML format movie subtitles from any language to
openai_user_prompt_default=You must keep the HTML tag unchanged in the result. Do not ignore any <p> in the result. The result must has the same <p> count to the original. Also, if there is a person or city name, please keep the original language. Ex. '<p>Hi, John <br> Good morning. </p><p>I am (we are) from </p><p> </p></p><p>Berlin.</p>' should translate to '<p>你好，John <br> 早上好。</p><p>我(我们)来自</p><p> </p><p>Berlin。</p>'. Translate the following HTML text:
target_language=zh_CN

openai_user_prompt_zh_cn=你必须在翻译结果中保持HTML标签不变，并且保持<p>标签的数量，不要跳过<p></p>之间的内容，即使不需要翻译，也要保证翻译结果中有相同数量的<p>标签。如果遇到人名或者地名，请不要翻译它们。如：'<p>Hi, John <br> Good morning. </p><p>I am (we are) from </p><p> </p></p><p>Berlin.</p>'应该被翻译为： '<p>你好，John <br> 早上好。</p><p>我(我们)来自</p><p> </p><p>Berlin。</p>'。请翻译下面的内容：

target_language_name=Chinese
movie_language_name=English

daemon_translator_base_folders=/movie|/tv
daemon_run_at=17:00:00|America/Toronto